pymssql
locust
pypinyin
faker
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
ConfigArgParse==1.0
Flask==1.1.1
gevent==1.5a2
geventhttpclient-wheels==1.3.1.dev2
greenlet==0.4.15
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.1
locustio==0.14.4
MarkupSafe==1.1.1
msgpack-python==0.5.6
protobuf==3.11.3
psutil==5.7.0
pycparser==2.19
pyzmq==18.1.1
requests==2.22.0
six==1.14.0
urllib3==1.25.8
Werkzeug==1.0.0
